
body {
    padding: 0;
    margin: 0;
}

header {
    height: 30px;
    background: lightblue;
    margin-bottom: 20px;
    margin-top: 0;
}

header ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    height: 100%;
    margin-right: 15px;
}

li.navigation a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

div.card {
    height: 700px;
    width: 300px;
    border-radius: 15px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

div.card h1,
div.card p {
    text-align: center;
}


div.body img {
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
}

