$background-dark: #222f3e;
$background-lightblue: #add8e6;
$text-light: #feca57;
$text-dark: #202020;
$shadow-light: 4px 4px 10px #d6d6d6;

body {
  padding: O;
  margin: O;
  box-sizing: border-box;
}


.header {
  display: flex;
  background: $background-dark;
  color: $text-light;
  margin-bottom: 80px;
  width: 100%;
  height: 60px;
  box-shadow: $shadow-light;

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-right: 15px;
  }

  a {
    color: $text-light;
    text-decoration: none;
  }
}

.main-content {
  padding: 5px;
  background: $background-lightblue;
  border-radius: 15px;
  color: $text-dark;
  margin: auto;
  text-align: center;
  box-shadow: $shadow-light;
  width: 80%;
  max-width: 1200px;
  min-height: 500px;
  margin-bottom: 50px;

  img {
    border-radius: 5%;
    width: 80%;
    
  }
}

